@model Mvc_Proje1YT.Models.Entity.TBLMUSTERİLER
@{
    ViewBag.Title = "YeniMusteri";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<form method="post" class="form-group">
    <div>
        <label>Müşteri Adı</label>
        @Html.TextBoxFor(m => m.MUSTERİAD, new { @class = "form-cont" })
        @Html.ValidationMessageFor(m => m.MUSTERİAD, "", new { @style = "color:green" })
    </div>

    <div>
        <label>Müşteri Soyadı</label>
        <input type="text" class="form-control" name="MUSTERİSOYAD" />
    </div>


    <div style="margin-top:15px">
       <button class="btn btn-info" id="btn1"  >Müşteri Ekle</button>
    </div>
    <script>
        $('#btn1').click(function () {

            alert('Müşteri Ekleme İşlemi Yapıldı...!');
        });

    </script>

</form>