@model Mvc_Proje1YT.Models.Entity.TBLKATEGORİLER
@{
    ViewBag.Title = "YeniKategori";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

 <form class="form-group" method="post">
     @*<div>
        <label>Kategori Adı</label>
         <input type="text" class="form-control" name="KATEGORİAD"/>
     </div>*@

        
     <div>

         <label>Kategori Adı</label>
         @Html.TextBoxFor(m => m.KATEGORİAD,new { @class = "form-cont" })
         @Html.ValidationMessageFor(m => m.KATEGORİAD, "",new {@style = "color:blue"})


     </div>
         
         
         
         <div style="margin-top:15px">
         <button class="btn btn-info">Kategori Ekle</button>
     </div>
  </form>

